body
{
    background-image: url("https://w.wallhaven.cc/full/96/wallhaven-96w8e8.png");
    background-size: 100%;
    color: white;
}

    #size {
    font-size: 36px;
}

    #size2 {

    font-size: 26px;
    color: red;
}
    a {
        color: deepskyblue;
    }

